<div>
    <div>
        <h3>List of Users</h3>
    </div>
    <div>
        <table>
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>AGE</th>
                <th>SALARY</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.salary | currency}}</td>
                    <button (click)="editUser(user.id, user.name, user.age, user.salary)">Edit</button>
                    <button (click)="deleteUser(user.id); refresh()">Delete</button>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="onVisible">
        <form nonvalidate #editform='ngForm' (ngSubmit)="updateUser(editform)">
            <div class="form-group">
                <label for="name" class="name-field">Name</label>
                <input type="text" [(ngModel)]='editName' name="name" required>
            </div>
            <div class="form-group">
                <label for="age" class="name-field">Age</label>
                <input type="number" [(ngModel)]='editAge' name="age" required>
            </div>
            <div class="form-group">
                <label for="salary" class="name-field">Salary</label>
                <input type="number" [(ngModel)]='editSalary' name="salary" required>
            </div>
            <button [disabled]="editform.invalid" type="submit" (click)="refresh()">Update</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
        </form>
    </div>
</div>